@model Upcoming

<form method="post" asp-action="Create" class="form-signin">
    <div class="text-center mb-4">
        <img class="mb-4 mt-3" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Create Upcoming event/appointment/assignment</h1>
        <p></p>
    </div>


    <div class="form-label-group">
        <label asp-for="Title">Title</label>
        <input  asp-for="Title" class="form-control mb-1" placeholder="Title" >
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-label-group">
        <label asp-for="Date">Date</label>
        <input asp-for="Date" class="form-control mb-1">
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-label-group">
        <label asp-for="Priority">Priority</label>
        <input asp-for="Priority" class="form-control mb-1" placeholder="High,Medium,Low">
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>
    <div class="form-label-group">
        <label asp-for="Type">Type</label>
        <input asp-for="Type" class="form-control mb-1" placeholder="Homework,Appointment,Game......">
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-label-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control mb-2" placeholder="What is the upcoming event?">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="d-flex mt-1">
        <button class="btn btn-lg btn-primary btn-block me-2" type="submit">Submit</button>
        <button class="btn btn-lg btn-primary btn-block" asp-controller="Upcoming" asp-action="Index">Back</button>

       
    </div>
</form>
