@using EventFlow.Models.DTO;

@model List<ToDoDTO>


<body class="bg-light">
    <main role="main" class="container">

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="d-flex justify-content-between">
                <h6 class="border-bottom border-gray pb-2 mb-0">To-Do List</h6>
                <button id="Add-btn" type="button" class="btn btn-info btn-xs ">Add new item</button>

            </div>
            @foreach (var item in Model)
            {

                <div class="d-flex justify-content-between">
                    <div class="mr-auto p-2 mt-1" >
                        <strong class="d-block text-gray-dark">
                        <a asp-controller="ToDo" asp-action="Detail" asp-route-id="@item.Id">    
                            @item.Title
                        </a>    
                        </strong>
                    </div>

                    <div class="p-2">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    Type: @item.Type
                </p>

            }

        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="../../assets/js/vendor/popper.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <script src="../../assets/js/vendor/holder.min.js"></script>
        <script src="offcanvas.js"></script>
    </main>
</body>